@model DOSBPM.Models.StakeholderContactInfo

@{
    ViewBag.Title = "Stakeholder Contact Info";
}

<h2>Stakeholder Contact Info</h2>

@Html.ActionLink("Previous", "Index", "QualifyingInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "PropertyOwnerInfo", null, new { @class = "NextBtn" })

