
<div class="container">
    <div class="navbar-fixed-bottom  ">
        <footer >
            <p>&copy; @DateTime.Now.Year Department of State - New York</p>
            <img src="~/Content/Images/VFooter.png"  style="width:100%;"/>
        </footer>
            
        
    </div>

</div>