
@*<div class=" navbar-header navbar-fixed-top  " style="width:100%">
    <img src="~/Content/Images/VHeader.PNG" />
</div>*@
<div class="masterhead">
<div id="header"  role="banner" class=" region"> 
    <div class="container-clearfix">
        <div id="logo"  class=" navbar-header navbar-fixed-top  " style="width:100%;">
            <img src="~/Content/Images/VHeader.PNG" style="max-width:100%;" />
                @*<div class="col-md-4">
                    <img src="~/Content/Images/BPM Logo.jpg" />
                </div>
                <div class="col-md-8" style="color:white">
                    <h1>Division of Building Stamdards ans Codes</h1>
                </div>*@

            </div>
            </div>
        </div>
</div>

